@import '@/styles/variables.scss';
@import '@/styles/colors.scss';

.button {
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
    width: max-content;
    cursor: pointer;

    padding-left: 76px;
    padding-right: 38px;
    border-radius: 40px;
    transition: all 0.5s ease;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 60px;
        height: 60px;
        background: #925FFF url('/assets/button-chevron.svg') no-repeat;
        background-position: 24px 50%;
        height: 100%;
        border-radius: 128px;
        z-index: 0;
        transition: all 0.5s ease;
    }

    &_text {
        justify-content: start;
        font-weight: 700;
        font-size: 28px;
        z-index: 1;
    }

    &:hover {
        padding-right: 32px;
        padding-left: 68px;

        &::after {
            width: 100%;
            background-position: 24px 50%;
        }
    }
}

@media screen and (max-width: 768px) {
    .button {
        height: 48px;
        padding-left: 60px;
        padding-right: 24px;

        &::after {
            height: 48px;
            width: 48px;
            background-position: 17px 50%;
            background-size: 16px 16px;
        }

        &_text {
            font-size: 20px;
        }

        &:hover {
            padding-left: 64px;

            &::after {
                background-position: 17px 50%;
            }
        }
    }
}