@font-face {
  font-family: 'Open Sans Regular';
  src: url(/fonts/OpenSans-Regular.ttf);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

body {
  margin: 0;
  font-family: 'Open Sans Regular';
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #121212;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a[id] {
  position: absolute;
}