@mixin web-font-big {
    font-size: 4.6vw;
    font-weight: 700
};
@mixin web-font-mid {
    font-size: 3.1vw;
    font-weight: 400
};
@mixin web-font-small {
    font-size: 1.6vw;
    font-weight: 700
};
@mixin web-font-smallest {
    font-size: 1.2vw;
    font-weight: 400
};
@mixin mobile-font-big {
    font-size: 36px;
    font-weight: 700
};
@mixin mobile-font-default {
    font-size: 42px;
    font-weight: 700
};
@mixin mobile-font-mid {
    font-size: 32px;
    font-weight: 400
};
@mixin mobile-font-small {
    font-size: 20px;
    font-weight: 700
};
@mixin mobile-font-default {
    font-size: 24px;
    font-weight: 700
};

@mixin web-font-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 75.35%;
};


@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}