@import '@/styles/colors.scss';
@import '@/styles/variables.scss';

.cardsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    background: $background-black;
    max-width: 1240px;

    &__heading {
        font-weight: 700;
        font-size: 40px;
    }
    
    &__content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        > * {
            width: calc(50% - 8px);
        }
    }
}

@media screen and (max-width: 768px) {
    .cardsContainer {
        padding: 0 16px;
        gap: 56px;

        &__content {
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 24px;
    
            > * {
                width: 100%;
            }
        }

        &__heading {
            font-size: 24px;
        }
    }
}