@import '@/styles/variables.scss';
@import '@/styles/colors.scss';

.header {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 96px;
    align-items: center;
    background: rgba(18, 10, 31, 0.46);
    backdrop-filter: blur(20px);
    padding: 0 100px;
    z-index: 20;

    &__links {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        gap: 64px;
    }

    &__link {
        display: flex;
        justify-content: space-evenly;
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        cursor: pointer;
        text-decoration: none;
        transition: 0.1s ease all;

        &_primary {
            color: #925FFF;
        }
    }

    &__logo {
        height: 32px;
    }

    &__burger {
        display: none;
    }
}

@media screen and (max-width: 1370px) {
    .header {
        height: 80px;
        padding: 16px;
        justify-content: space-between;
        

        &__burger {
            display: block;
            width: 40px;
            height: 28px;
            background: none;
            padding: 0;
            border: none;
            z-index: 999;


            > img {
                width: 100%;
                height: 100%;
            }
        }

        &__links {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            height: 100dvh;
            width: 100vw;
            align-items: center;
            justify-content: center;
            transform: translateY(-100%);
            display: flex;
            flex-direction: column;
            background: #1E1E1E;
            transition: 0.2s transform ease;
            gap: 40px;

            &_opened {
                transform: translateY(0);

                &::after {
                    display: block;
                    content: "";
                    width: 312px;
                    height: 156px;
                    background: url("/assets/eye.gif");
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: rotateZ(-30deg);
                    position: absolute;
                    left: -100px;
                    top: -30px;
                }
    
                &::before {
                    display: block;
                    content: "";
                    width: 312px;
                    height: 156px;
                    background: url("/assets/eye.gif");
                    background-repeat: no-repeat;
                    background-size: contain;
                    transform: rotateZ(-30deg);
                    position: absolute;
                    right: -100px;
                    bottom: -30px;
                }
            }

        }

    }
}