@import '@/styles/colors.scss';
@import '@/styles/variables.scss';

.carouselSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    background: $background-black;
    max-width: 1240px;
    width: 100%;

    &__heading {
        font-weight: 700;
        font-size: 40px;
    }
    
    &__content {
        display: flex;
        flex-direction: column;
        gap: 112px;
        width: 100%;
    }

    &__groupTitle {
        display: block;
        color: #FFFFFF;
        font-weight: 700;
        font-size: 32px;
        line-height: 94%;
        margin-bottom: 32px;
    }

    &__groupText {
        display: block;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
        margin-bottom: 54px;
    }

    &__carousel {
        position: relative;
        display: flex;
        overflow-x: hidden;
        overflow-y: hidden;
        gap: 16px;
        
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__carouselItem {
        width: calc(50% - 8px);
        flex-shrink: 0;
        height: auto;
        position: relative;
        transition: opacity 0.4s ease;

        &_wide {
            width: 100%;
        }

        &_fadeAnim {
            position: absolute;
            top: 0;
            left: 0;

            &.carouselSection__carouselItem:not(.carouselSection__carouselItem_active) {
                opacity: 0;
            }
        }
    }

    &__carouselImage {
        width: 100%;
        height: auto;
    }

    &__carouselWrapper {
        position: relative;
    }
    
    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__carouselArrow {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        width: 64px;
        height: 64px;
        background: transparent;
        border: none;
        filter: drop-shadow(0 0 8px #000000) drop-shadow(0 0 16px #000000);
        cursor: pointer;

        &_left {
            left: 0;

            > img {
                transform: rotateY(180deg);
            }
        }

        &_right {
            right: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .carouselSection {
        padding: 0 16px;
        gap: 56px;

        &__content {
            gap: 56px;
        }

        &__heading {
            font-size: 24px;
        }

        &__carouselArrow {
            width: 48px;
            height: 48px;
        }

        &__groupTitle {
            font-size: 20px;
            line-height: 94%;
            margin-bottom: 24px;
        }

        &__groupText {
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 32px;
        }
    }
}