.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    background: linear-gradient(180deg, rgba(18, 18, 18, 1) 11.04%, rgba(18, 18, 18, 0.5) 88.59%), url('/assets/footer.gif');
    background-size: cover;
    background-position: bottom;
    margin-top: -350px;
    padding-top: 250px;
    min-height: calc(100vh + 350px - 192px);
    min-height: calc(100dvh + 350px - 192px);
    padding-bottom: 20px;
    width: 100%;
    justify-content: center;

    &__container {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &__contacts {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    &__socials {
        display: flex;
        gap: 56px;
    }

    &__image {
        border-radius: 50%;
        width: min(350px, 35vh);
        height: auto;
        object-fit: cover;
    }

    &__title {
        font-weight: 700;
        font-size: 48px;
        line-height: 65px;
    }

    &__email {
        font-weight: 600;
        font-size: 32px;
        line-height: 44px;
        color: #925FFF;
        text-decoration: underline;
    }

    &__social {
        width: 56px;
        height: 56px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        gap: 40px;
        padding-top: 90px;
        margin-top: -90px;
        height: calc(100vh + 90px - 135px);
        height: calc(100dvh + 90px - 135px);

        &__container {
            gap: 24px;
        }

        &__image {
            width: 166px;
            height: 166px;
        }

        &__title {
            font-size: 20px;
            line-height: 27px;
        }

        &__email {
            font-size: 20px;
            line-height: 27px;
        }

        &__social {
            height: 48px;
            width: 48px;
        }
    }
}