
@import '@/styles/variables.scss';
@import '@/styles/colors.scss';

.titlecard {
    padding: 0 100px;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background: url('/assets/bgpic.png') no-repeat center;
    background-size: cover;
    max-height: 810px;

    &__textbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    &__header {
        font-weight: 700;
        font-size: 70px;
    }

    &__titles {
        font-size: 56px;
        line-height: 76px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        height: 100%;
        gap: 56px;
    }
}

@media screen and (max-width: 768px) {
    .titlecard {
        padding: 112px 24px 70px;
        background-position: 71% 50%;
        background-size: cover;

        &__header {
            font-weight: 700;
            font-size: 36px;
        }

        &__titles {
            font-size: 32px;
            line-height: 44px;
        }

        &__textbox {
            justify-content: flex-start;
            width: 100%;
            gap: 16px;
        }

        &__info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1;
            height: 100%;
        }
    }
}