@import '@/styles/colors.scss';
@import '@/styles/variables.scss';

.figmaCard {
    background: $tile-black;
    display: flex;
    flex-direction: column;
    background: #222222;

    &__name {
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 32px;
    }

    &__descr {
        display: block;
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 32px;
        flex: 1;
    }

    &__infoWrapper {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 40px 32px 48px;
    }

    &__image {
        width: 100%;
        aspect-ratio: calc(612px / 344px);
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .figmaCard {
        border-radius: 8px;

        &__name {
            font-size: 20px;
        }

        &__descr {
            font-size: 16px;
        }

        &__infoWrapper {
            padding: 24px 16px 32px;
        }
        
        &__image {
            border-radius: 8px;
        }
    }
}